.heading {
  color: var(--headingText);
  font-size: 84px;
  & span {
    display: block;
    color: var(--pinkText);
  }
}

.herosec {
  min-height: max(700px, calc(100vh - 90px));
  padding: 80px 0;
}

.heroIngCont {
  margin: 0 auto;
  /* width: 80%; */
  /* background-color: aquamarine; */
  border: 3px dashed var(--imageDashedBorder);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 64px;
  & .styledImg {
    border-radius: 48px;
    overflow: hidden;
    width: 100%;
    height: 100% !important;
    object-fit: cover;
    object-position: center;
  }
}

.nameHeading {
  position: absolute !important;
  bottom: 50px;
  left: 45px;
  text-align: left;
  font-size: 72px;
  color: white;
}

.content {
  font-family: "Geist", sans-serif;
  line-height: 39.5px;
  font-size: 22px;
  color: var(--largeTextColor);
}

.contentCont {
  margin: 36px auto;
}

/* card section */

.cardContainer {
  display: flex;
  justify-content: space-between;
}

.cardMain {
  background-image: url("../../assets/decorations/about_card_bg.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 372px;
  height: 360px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  & .tape {
    position: absolute;
    right: -21px;
    bottom: -26px;
  }

  & .flow {
    position: absolute;
    top: 13px;
    right: 31px;
    width: 99px;
    height: auto;
  }

  & .heading {
    color: var(--textColor2) !important;
    font-size: 28px;
  }

  & p {
    padding: 0 50px !important;
    margin-top: 15px;
    font-size: 22px;
    font-family: "Inter", sans-serif;
    font-weight: 300;
    line-height: 39.5px;
    color: var(--gray1) !important;
  }
}

/* form section */
.formSec {
  margin-top: 80px;
  margin-bottom: 60px;
}
.formSecCont {
  /* border style */
  background-color: #f4f2ef;
  border: 3px dashed var(--imageDashedBorder);
  border-radius: 64px;
  overflow: hidden;
  /* ------------ */
  padding: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 100px;

  & .div1 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  & .div2 {
    width: 100%;
    font-family: "Inter", sans-serif;
    & .inpFieldCont {
      & > :nth-child(1) {
        margin-bottom: 10px;
      }
      label {
        display: block;
        font-size: 16px;
      }
      & input,
      textarea {
        font-family: "Inter", sans-serif;
        font-size: 18px;
        background: transparent;
        outline: none;
        border: 0.13em solid #605d59;
        border-radius: 50px;
        padding: 10px 15px;
        width: 100%;
        &:focus {
          outline: none;
        }
      }
      & textarea {
        border-radius: 20px;
        resize: none;
        height: 100%;
      }
    }
  }
}

& .ctaBtn {
  font-family: "Geist", sans-serif;
  font-size: 22px;
}

.formHeading {
  font-size: 48px;
  color: var(--gray1);
  text-align: left;
}

.form {
  & > :not(:last-child) {
    margin-bottom: 20px;
  }
}

@media (max-width: 767px) {
  .herosec {
    padding: 30px 0 20px 0;
    & .heading {
      font-size: 42px;

      & span {
        display: unset;
        width: 100%;
      }
    }
  }
  .heroIngCont {
    margin-top: 20px;
    padding: 10px;
    border-radius: 32px;
    & .styledImg {
      border-radius: 28px;
      aspect-ratio: 1/1;
      object-fit: cover;
      object-position: right;
    }
  }
  .nameHeading {
    font-size: 28px;
    position: absolute !important;
    bottom: 20px;
    left: 23px;
  }
  .ctaBtn {
    font-family: "Geist", sans-serif;
    font-size: 18px;

    & svg {
      width: 18px;
      height: 18px;
    }
  }
  .content {
    font-size: 14px;
    line-height: 24.5px;
    text-align: center;
  }
  .cardContainer {
    flex-wrap: wrap;
    justify-content: center;
  }
  .cardMain {
    width: 100%;
    max-width: 380px;
    height: auto;
    background-size: 100% auto;
    aspect-ratio: 1 / 1;

    & .heading {
      font-size: 24px;
    }

    & p {
      font-size: 16px;
      line-height: 22.5px;
    }
  }

  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .formHeading {
    font-size: 28px;
  }

  .formSecCont {
    border-radius: 20px;
    padding: 20px 15px;
    grid-template-columns: 100%;
    gap: 50px;

    & .div1 {
      img {
        width: 90%;
        margin: 0 auto;
      }
    }

    & .div2 {
      & .inpFieldCont {
        & input,
        textarea {
          /* font-family: "Inter", sans-serif; */
          font-size: 18px;
        }
      }
    }
  }
}
