.faqContainer {
  max-width: 1300px;
  width: 100%;
  margin: 2rem auto;
  border-radius: 8px;
  position: relative;
  font-family: "Geist", sans-serif;
}

/* Sidebar */
.faqSidebar {
  position: absolute;
  left: 0;
  top: 50%;
  width: 53%;
  height: 87%;
  transform: translateY(-50%);
  background-color: #fdf6ee;
  border-right: 1px solid #f0e9df;
  /* padding: 1rem; */
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: repeat(auto, 2fr);
  /* flex-direction: column; */
  overflow: hidden;
}

.faqItem {
  flex: 1;
  /* width: 50%; */
  display: flex;
  align-items: center;
  text-align: left;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
  background-color: transparent;
  cursor: pointer;
  transition: background 0.3s;
  &:not(:last-of-type) {
    border-bottom: 1px solid var(--primaryBg);
  }
  & p {
    width: 100%;
  }
}

.faqItem .dot {
  width: 18px;
  height: 18px;
  color: var(--svgColor2);
  flex-shrink: 0;
}

.faqItem span {
  color: #888;
}

.faqItem.active {
  background-color: #f8ead7;
  /* font-weight: 600; */
}

.faqItem.active .dot {
  color: var(--textColor);
}

.faqContent {
  overflow: hidden;
  margin-left: auto;
  background-color: white;
  box-shadow: 0 0 4px 1px #00000026;
  border-radius: 16px;
  width: 50%;
  padding: 2rem;
  padding-left: 4%;
  padding-top: 4%;
  height: 400px;
}

.faqContent h3 {
  font-family: "Engraved", sans-serif;
  text-align: left;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.faqContent p {
  line-height: 1.6;
  color: #333;
}

/* Mobile responsive: hide FAQ on small screen */
@media (max-width: 768px) {
  .faqContainer {
    display: none;
  }
}
