.heading {
  color: var(--headingText);
  font-size: 56px;
  & span {
    color: var(--pinkText);
  }
}
@media (max-width: 768px) {
  .heading {
    font-size: 36px;

    & span {
      display: block;
      width: 100%;
    }
  }
}

.cont {
  margin-top: 50px;
}

.contSlider {
  margin-top: 40px;
}

.cardCont {
  /* margin-left: 20px;
  margin-right: 20px; */
  max-height: 650px;
  width: auto;
  aspect-ratio: 9 / 21 !important;
  overflow: hidden;
  & .link:active,
  & .link:focus {
    outline: none;
    border: none;
  }
  & img {
    border-radius: 12px;
    width: 90%;
    margin: 0 auto;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

@media (max-width: 767px) {
  .cardCont {
    aspect-ratio: 9 / 12 !important;
  }
}
