.wrapper {
  max-width: 1150px;
}

.heading {
  color: var(--textColor2);
  font-size: 52px;
  margin-bottom: 20px;
}

.desc {
  font-size: 18px;
  font-family: "Geist", sans-serif;
  color: var(--subSecondaryBlack);
}

.filters {
  font-family: "Geist", sans-serif;
  display: flex;
  justify-content: flex-end;
  & span {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.card {
  border-radius: 8px;
  box-shadow: 0 2px 10px #0000001f;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  aspect-ratio: 9/14;
  overflow: hidden;
  background: white;
  cursor: pointer;
  & .imgCont {
    flex: 1;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  & .details {
    height: max-content;
    padding: 12px 10px;
    & h3 {
      font-size: 18px;
      padding: unset !important;
      text-align: left;
      font-family: "Geist", sans-serif;
      margin-bottom: 10px;
    }
    & p {
      margin-top: 10px;
    }
    & span {
      font-size: 16px;
      font-family: unset !important;
      &:first-of-type {
        margin-right: 8px !important;
      }
    }
    .comparedP {
      text-decoration: line-through;
      color: #00000059;
    }

    .excl,
    .incl {
      /* text-decoration: line-through; */
      font-family: "Geist", sans-serif !important;
      font-weight: 500;
      color: var(--text-color);
      font-size: 16px;
    }
    .incl {
      display: block;
    }
  }
}
.gridWrapper {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

@media (max-width: 767px) {
  .heading {
    font-size: 32px;
  }

  .desc {
    font-size: 15px;
  }

  .gridContainer {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  .card {
    & .details {
      .excl,
      .incl {
        font-size: 14px;
      }
      & h3 {
        font-size: 14px;
        line-height: 15px;
      }
    }
  }
  .gridWrapper {
    margin-top: 20px;
    gap: 10px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .gridContainer {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}
