.nav {
    background-color: var(--primaryBg);
    width: 100%;
    position: sticky;
    top: 0;
    height: 90px;
    margin: 0 auto;
    transition: width 0.3s ease, top 0.3s ease, border-radius 0.3s ease, box-shadow 0.3s ease;
    z-index: 1000;
}

.navScroll {
    top: 10px;
    width: min(90%, 1400px);
    border-radius: 20px;
    border: 2px solid #C8B9A3;
    box-shadow: 0px 2px 10px -3px #00000024;

    & .navContainer {
        padding: 10px 20px;
    }
}

.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: var(--maxWidth);
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
  height: 100%;
}

.logo img {
  max-height: 80%;
  height: auto;
  display: block;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;

}

.navButton {
    font-size: 24px !important;
    color: var(--textColor) !important;
    padding: 8px 12px !important;
    &:hover {
        background-color: var(--navbarButtonBgHover) !important;
        color: var(--textColorHover) !important;
        padding: 8px 12px;
    }
}

.navLink {
    text-decoration: none;
}
@media (max-width: 767px) {
    ul {
        display: none;
    }

    & .nav {
        height: 60px;
    }
    
    & .logo {
        height: 50px;
        display: flex;
        align-items: center;
    }

    /* & .navScroll {
        height: 60px;
    } */
}