.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

.mainContentContainer {
  & .heading {
    font-size: 48px;
    text-align: left;
    color: var(--headingText);
  }

  & .desHeading {
    text-align: left;
    color: #d9c9b1;
    font-family: "Geist", sans-serif;
    font-weight: 700;
    font-size: 22px;
  }

  & .desc {
    color: var(--subSecondaryBlack);
    font-family: "Geist", sans-serif;
  }

  & .specialOffer {
    text-align: left;
    /* font-family: "Geist", sans-serif; */
    font-size: 22px;
    color: var(--secondary-color);
  }

  & .pricingCont {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 28px;
    margin-top: 4px;
  }

  & .strike {
    text-decoration: line-through;
    color: var(--subSecondaryBlack);
    font-size: 24px;
  }

  & .main {
    text-decoration: unset;
  }

  & .percentage {
    color: var(--secondary-color);
    font-size: 22px;
  }

  & p {
    margin-top: 4px;
    font-family: "Geist", sans-serif;
  }

  & .delivery {
    text-align: left;
    font-family: "Geist", sans-serif;
    font-size: 20px;
    font-weight: 600;
  }
  & .prodCont {
    margin-top: 28px;
    & > div:not(:last-of-type) {
      margin-bottom: 20px;
    }
  }

  & .charges {
    font-weight: 500 !important;
    color: var(--subSecondaryBlack);
  }

  & .button {
    margin-top: 28px;
    font-size: 20px;
    font-family: "Geist", sans-serif;
  }
}

@media (max-width: 767px) {
  .container {
    grid-template-columns: 1fr;
  }
  .mainContentContainer {
    & .heading {
      font-size: 26px;
    }
    & .desHeading {
      font-size: 18px;
    }

    & .specialOffer {
      font-size: 18px;
    }

    & .pricingCont {
      font-size: 22px;
    }

    & .strike {
      font-size: 18px;
    }

    & .percentage {
      font-size: 16px;
    }

    & .delivery {
      font-size: 16px;
    }
    & .prodCont {
      margin-top: 16px;

      & > div:not(:last-of-type) {
        margin-bottom: 16px;
      }
    }

    & .button {
      margin-top: 16px;
      font-size: 18px;
      width: 100%;
    }
  }
}
