.heading {
  color: var(--headingText);
  font-size: 84px;
  & span {
    color: var(--pinkText);
  }
}

.heroWrapper {
  padding-top: 40px;
}

/* Creative Grid */

.gridContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-rows: repeat(auto-fit, 260px); */
  grid-auto-rows: 260px;
  gap: 1.5rem;
  padding: 2rem;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.card {
  border-radius: 10px;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: 0 3px 10px #00000009;
  transition: all 0.2s ease-in-out;
  will-change: transform;
  & .cardContent {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: nowrap;
    & .title {
      font-family: "Geist", sans-serif;
      font-weight: 600;
      font-size: 24px;
      text-align: left;
    }
    & svg {
      width: 30px;
      height: 30px;
    }
  }
  & .imgCard {
    /* height: 100%; */
    z-index: 4;
    width: 100%;
    position: relative;
    flex: 1;
  }

  &:hover {
    cursor: pointer;
    box-shadow: 0 0px 12px #00000014;
    will-change: transform;
  }

  & .decorImg {
    z-index: 3;
  }

  & .decorImg,
  & .cardImg {
    position: absolute;
    object-fit: cover;
    object-position: center;
  }
}
.card1 {
  grid-row: span 2;
  & .decorImg,
  & .cardImg {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}
.card2 {
  grid-column: span 2;
  & .decorImg {
    right: 0;
    bottom: 0;
  }
  & .cardImg {
    left: 0;
    bottom: 0;
  }
}
.card3 {
  & .decorImg {
    left: 20px;
    bottom: -10px;
  }
  & .cardImg {
    bottom: 0px;
    left: 20px;
  }
}
.card4 {
  & .decorImg {
    bottom: 0;
    right: 0;
  }

  & .cardImg {
    bottom: 0;
    left: 0;
  }
}
.card5 {
  grid-column: span 2;
  & .decorImg {
    top: 0;
    right: 10%;
  }

  & .cardImg {
    left: 0;
    bottom: 0;
  }
}
.card6 {
  grid-row: span 2;
  & .decorImg {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  & .cardImg {
    bottom: 0;
    right: 0;
  }
}

.card7 {
  & .decorImg {
    right: 0;
    bottom: 0;
  }

  & .cardImg {
    left: 0;
    bottom: 0;
  }
}

.card8 {
  & .decorImg {
    top: 0;
    right: 0;
  }

  & .cardImg {
    left: 0;
    bottom: 0;
  }
}

.card9 {
  grid-row: span 2;
  & .decorImg,
  & .cardImg {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  & .cardImg {
    left: 0 !important;
    transform: unset !important;
  }
}

.card10 {
  & .decorImg {
    bottom: 0;
    right: 0;
  }

  & .cardImg {
    left: 0;
    bottom: 0;
  }
}

.card11 {
  & .decorImg {
    right: 0;
    bottom: 0;
  }
  & .cardImg {
    left: 0;
    bottom: 0;
    width: 90%;
  }
}
.card12 {
  grid-column: span 2;
  & .decorImg {
    bottom: 0;
    right: 0;
  }
  & .cardImg {
    left: 0;
    bottom: 0;
  }
}
.featuredHeading {
  font-size: 48px !important;
}

/* for mobile screens */
.faq {
  margin-top: 50px;
}

@media (max-width: 768px) {
  .faq {
    display: none;
  }
  .heading {
    font-size: 42px;

    & span {
      display: block;
      width: 100%;
    }
  }

  .heroWrapper {
    padding-top: 20px;
  }
  .heroWrapper {
    margin-top: 20px;
    margin-bottom: 40px;
  }
  .card {
    & .cardContent {
      padding: 10px 10px 5px;
      & .title {
        font-size: 16px;
        font-weight: 600;
      }
      & svg {
        width: 22px;
        height: 22px;
      }
    }
  }
  .gridContainer {
    gap: 10px;
    margin-top: 40px;
    padding: unset;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 120px;
    grid-template-areas:
      "card1 card3"
      "card1 card4"
      "card2 card2"
      "card5 card5"
      "card7 card6"
      "card8 card6"
      "card9 card10"
      "card9 card11"
      "card12 card12";
  }
  .card {
    & .decorImg {
      position: absolute;
      width: auto;
      height: 120px;
    }
    & .cardImg {
      width: auto;
    }
  }
  .card1 {
    grid-area: card1;
    & .cardImg {
      height: 80%;
    }
  }
  .card2 {
    grid-area: card2;
    & .decorImg {
      height: 95px;
    }

    & .cardImg {
      height: 98%;
    }
  }
  .card3 {
    grid-area: card3;
    & .decorImg {
      height: 80px;
    }

    & .cardImg {
      height: 100%;
      left: 0;
    }
  }
  .card4 {
    grid-area: card4;
    & .decorImg {
      height: 70px;
    }

    & .cardImg {
      height: 100%;
    }
  }
  .card5 {
    grid-area: card5;
    & .decorImg {
      height: 54px;
    }

    & .cardImg {
      height: 98%;
    }
  }
  .card6 {
    grid-area: card6;
    & .decorImg {
      height: 65%;
    }
    & .cardImg {
      height: 60%;
    }
  }
  .card7 {
    grid-area: card7;
    & .decorImg {
      height: 75px;
    }
    & .cardImg {
      height: 100%;
    }
  }
  .card8 {
    grid-area: card8;
    & .decorImg {
      height: 65px;
    }
    & .cardImg {
      height: 100%;
    }
  }
  .card9 {
    grid-area: card9;
    & .cardImg {
      height: 80%;
    }
  }
  .card10 {
    grid-area: card10;
    & .decorImg {
      height: 50px;
    }
    & .cardImg {
      height: 95%;
    }
  }
  .card11 {
    grid-area: card11;
    & .decorImg {
      height: 65px;
    }
    & .cardImg {
      height: auto;
      max-height: 95%;
      width: 80%;
    }
  }
  .card12 {
    grid-area: card12;
    & .decorImg {
      height: 70px;
    }
    & .cardImg {
      height: 95%;
    }
  }

  .scrollContainer {
    scrollbar-width: thin !important;
    & .card {
      width: 60% !important;
      height: auto !important;
      aspect-ratio: 5 / 8;

      & .h3 {
        font-size: 16px !important;
        font-weight: 600;
      }
    }
  }

  .featuredHeading {
    font-size: 36px !important;
    & span {
      display: inline !important;
      width: unset !important;
    }
  }
}

/* card */

/* Cards.module.css */
.featured {
  padding: unset !important;
  margin-top: 50px;
}
.scrollContainer {
  margin-top: 20px;
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  gap: 1rem;
  padding: 1rem;
  scrollbar-gutter: stable;

  & .card {
    width: 270px;
    /* height: 100%; */
    height: 360px;
    flex-shrink: 0;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* padding: 0.5rem; */
    text-align: center;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    & .imgContainer {
      /* height: 80%; */
      overflow: hidden;
      flex-grow: 1;
      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        /* border-radius: 8px; */
      }
    }
    & .h3 {
      /* margin-top: 0.5rem; */
      padding: 10px 0;
      font-size: 20px;
      font-family: "Geist", sans-serif;
      color: #333;
    }
  }
}

/* .featuredHeading {
  color: var(--largeTextColor) !important;
} */

.color {
  color: var(--headingText);
}

.hideScroll {
  scrollbar-width: none !important; /* Firefox */
}

.hideScroll::-webkit-scrollbar {
  display: none !important; /* Chrome, Safari */
}

.showScroll {
  scrollbar-width: thin; /* Firefox */
}

.showScroll::-webkit-scrollbar {
  height: 8px;
}

.showScroll::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}
