* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

:root {
  --primaryBg: #d9c9b1;
  --secondary-color: #ff6f61;
  --text-color: #333;
  --textColor2: #523010;
  --bg-color: #f9f9f9;
  --font-heading: "Segoe UI", sans-serif;
  --font-body: "Roboto", sans-serif;
  --maxWidth: 1400px;

  --largeTextColor: #3f3e3e;

  --primaryBlack: #0f010e;
  --subSecondaryBlack: #837e7e;

  /* Buttons */

  --textColor: #523010;
  --bodyBg: #fffefa;
  --svgColor: #d5c4a1;
  /* hover */
  --textColorHover: #905a0c;
  --navbarButtonBgHover: #dfd4bb;

  /* Heading */
  --headingText: #4f3f40;
  --heading2Text: #3f3e3e;
  --pinkText: #e87279;

  /* Image */
  --imageDashedBorder: #a3a3a3;

  /* gray */

  --gray1: #4f4f50;
}

body {
  background-color: var(--bodyBg);
  /* overflow-y: auto; */
}

#root {
  height: 100dvh;
  overflow-y: auto;
}

ul {
  list-style: none;
}
